# Configuración de la Base de Datos
# Reemplaza estos valores con tus credenciales locales o de producción
# al crear tu propio archivo .env

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=usuario_local
DB_PASS=tu_contraseña_segura
DB_NAME=nombre_de_la_base_de_datos